.postcard-container {
  display: flex;
  flex-direction: row;
  background: transparent;
  border-radius: 1.5rem;
  overflow: hidden;
  padding: 2rem;
  width: 60%;
  align-items: center;
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 300px;
}

.postcard-content {
  flex: 1;
  backdrop-filter: blur(10px);
  z-index: 0;
  padding: 1.5rem;
  border-radius: 2rem;
  width: 150%;
  height: 290px;
  gap:20px;
}

.postcard-content::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -2;
  width: 120%;
  background-image: url('/texture/watercolor-noise.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.5;
  border-radius: 1.25rem;
}

.postcard-content::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 120%;
  border-radius: 1.25rem;
  background: radial-gradient(
    190% 180% at 0% 50%,  
    rgba(255, 77, 86, 1) 0%,
    #ffb1b1 57%,
    #ff4d56 70%
  );
  opacity: 0.14
}

.postcard-label {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #6b7280;
  margin-bottom: -0.5rem;
  margin-left: 2.5rem;
  margin-top: -2px;
}

.postcard-title {
  position: absolute;
  font-size: 1.8rem;
  font-weight: 700;
  color: #FF4D56;
  margin-bottom: 1rem;
  margin-left: 2.5rem;
}

.postcard-description {
  position: absolute;
  font-size: 0.9rem;
  color: #333;
  top: 125px;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  margin-left: 2.5rem;
  margin-top: 5.5px;
}

.postcard-link {
  display: inline-block;
  font-weight: 600;
  color: #FF4D56;
  text-decoration: none;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.postcard-link:hover {
  text-decoration: underline;
}

.postcard-thumbnail {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; 
  border-radius: 20px;
}

.postcard-thumbnail img {
  max-height: 350px;
  border-radius: 20px;
  max-width: 400px;
  object-fit: cover;
}
